<div class="hero-unit" style="background-color: #FFFFFF;margin-top: -50px;">
    <h1 style="font-size: 50px">PersonalDictionaryについて</h1><br>
    
    <div class="well well-small" style="background-color: #FFFFFF;margin-top: 30px">
  <p style="margin-top: 25px;margin-left: 5px;font-size: 21px">どこでも書ける。どこでも見れる。自分だけの単語帳が作れるサービスです。<br>
    	<br></p>
    <p style="margin-top: 20px;margin-left: 10px;font-size: 20px">	
    	PC・スマホ・タブレットどこでも単語を追加することができます。<br><br>
    	単語帳をPC・スマホ・タブレットどこでも見ることが出来ます。<br><br>
    	
    	PersonalDictionaryは、無料で気楽に使えるサービスです。<br><br />
    	登録は20秒ほどで完了しますし、フリーメールでも大丈夫です。<br><br>
    	
    	まだ出来たばかりで簡単な機能しかありませんが、<br><br />
    	皆様の要望を出来る限り応えていこうと思っています。<br><br />
    </p>
    <div style="padding-left: 10px">
    <%= button_to 'home', '/',  {:method => :get, :class => "btn btn-info"} %>
    </div>
</div>
</div>