<div style="background-color: #FFFFFF;">
    <h1 style="font-size: 30px;padding-top: 25px;text-align: center">PersonalDictionary<br>について</h1><br>
    
    <div class="well well-small" style="background-color: #FFFFFF;margin-top: 10px">   
    <p style="font-size: 20px">	
    	どこでも書ける。どこでも見れる。自分だけの単語帳が作れるサービスです。<br><br>
    	PC・スマホ・タブレットどこでも単語を追加することができます。<br>
    	単語帳をPC・スマホ・タブレットどこでも見ることが出来ます。<br><br>
    	
    	PersonalDiaryは、無料で気楽に使えるサービスです。<br>
    	登録は20秒ほどで完了しますし、フリーメールでも大丈夫です。<br><br>
    	
    	まだ出来たばかりで簡単な機能しかありませんが、<br>
    	皆様の要望を出来る限り応えていこうと思っています。<br>
    </p>
    <div style="padding-left: 10px">
    <%= button_to 'home', '/',  {:method => :get, :class => "btn btn-info"} %>
    </div>
</div>
</div>