<div class="row">
	<div class="span12" style="padding-top: 5px">
		<div class="well" style="text-align: left">
			<h2>PersonalDictionary 利用規約</h2>
		

		
			<br>
			<br>

			<h2 id="01" class="border bottomline-solid">第1条　はじめに</h2>
			<p>
				この利用規約（以下「本規約」といいます）において使用する用語の意義は、次の各号に定めるとおりとします。
			</p>
			<ol>
				<li>
					「本サービス」とは、株式会社MOONKEY（以下「当社」という）が運営する「Earth Talk」（以下「本サービス」といいます）上で提供される全てのサービスを指します。
				</li>
				<li>
					「ユーザー」とは、本サービスを利用するためのアカウントを当社から発行された者をいいます。
				</li>
			</ol>
			<h2 id="02" class="border bottomline-solid">第2条　本サービスの利用</h2>
			<ol>
				<li>
					利用者登録のためにご利用頂くメールアドレスはご自身で所有するメールアドレスを入力し、本サービスに送信して頂きます。万が一、第三者が所有するメールアドレスを使用した場合や、他人の氏名やそれに準ずる呼び名等を使用したと当社が判断した場合には、当社は当該利用者のアカウントを削除し、将来にわたって本サービスを利用することをお断りする権利を有しております。
				</li>
				<li>
					本サービスの提供する全てのサービスの中断、停止、変更、廃止についてはいつでも予告なく行うことが行えるものとし、ユーザーに対して何ら義務を負うものではありません。また本サービスの全てのサービスの中断、停止、変更、廃止によってユーザーに何かしらの損害が発生したとしても何ら責任を負うものではありません。
				</li>
				<li>
					本サービスのユーザーが他のユーザーに対して損害を与える行為、またはそのおそれがある場合や当社が利用において不適当であると判断した場合、当社の裁量において当該ユーザーのアカウントを削除、本サービスの利用を禁止し、本サービス内のコンテンツを削除する権利を保有しており、それに対する意義や申し立てには一切応じることはございません。また、削除の当該ユーザーおよび第三者に対して一切責任を負わないものとします。
				</li>
				<li>
					ユーザーは1人につき唯一のアカウントを保有できるものとします。ただし、別途当社が許可した場合は除きます。
				</li>
				<li>
					ユーザーはアカウントを譲渡・貸与・売買等をすることはできません。
				</li>
				<li>
					ユーザー登録して頂いた場合、そのアカウントならびにパスワードの管理はユーザーの責任において行って頂きます。アカウントならびにパスワードを利用して行われた行為の責任は当該アカウントを保有しているユーザーの責任とみなします。当社はパスワードの漏洩、不正使用などから生じた損害については一切保証いたしません。
				</li>
			</ol>
			<h2 id="03">第3条　利用料金</h2>
			<p>
				本サービスの登録その他基本的なサービスは無料とします。有料サービスの利用料金、支払方法その他の事項については、有料サービスが存在する場合に別途当社が定める規約のとおりとします。
			</p>
			<h2 id="04">第4条　付加サービス</h2>
			<ol>
				<li>
					当社又は当社と提携する事業者が、本サービス以外に付加サービスをユーザーに提供することがありますが、当該付加サービスの利用に関する詳細及び規約は別途定められた規定に従うものとします。
				</li>
				<li>
					付加サービスに関する事項で、付加サービスの規約に定めのない事項については、本規約の規定を準用するものとします。
				</li>
			</ol>
			<h2 id="05">第5条　退会</h2>
			<ol>
				<li>
					ユーザーは本サービスを退会する場合、当社の定める手続きに基づき、退会を行うものとします。
				</li>
				<li>
					退会後、当社はユーザーのデータ及び登録情報を削除できるものとし、削除によりユーザーが損害を被ったとしても、当社は一切その責任を負わないものとします。
				</li>
				<li>
					当社は、ユーザーが次の各号に掲げるいずれかの行為を行った場合には、当社の判断によって、ユーザーを強制的に退会させて本サービスの利用をお断りすることがあります。
				</li>
				<ul class="unstyled">
					<li>
						<span>(&nbsp;1&nbsp;)</span>本利用規約又はその他の利用規約等に違反した場合
					</li>
					<li>
						<span>(&nbsp;2&nbsp;)</span>その他当社が不適切と判断した場合
					</li>
				</ul>
			</ol>
			<h2 id="06">第6条　本サービスの内容の変更、一時中断、及び廃止</h2>
			<ol>
				<li>
					当社は、ユーザーに事前に通知することなく本サービスの内容の変更を行うことができるものとします。
				</li>
				<li>
					当社は、安定した運営に最善を尽くしていますが、以下の各号のいずれかに該当する場合には、ユーザーに事前に通知することなく一時的に本サービスを中断することができるものとします。
				</li>
				<ul class="unstyled">
					<li>
						<span>(&nbsp;1&nbsp;)</span>サーバ、通信回線若しくはその他の設備の故障、障害の発生又はその他の事由により本サービスの提供ができなくなった場合
					</li>
					<li>
						<span>(&nbsp;2&nbsp;)</span>システム(サーバ、通信回線や電源、それらを収容する建築物などを含む)の保守、点検、修理、変更を定期的に又は緊急に行う場合
					</li>
					<li>
						<span>(&nbsp;3&nbsp;)</span>火災、停電などにより本サービスの提供ができなくなった場合
					</li>
					<li>
						<span>(&nbsp;4&nbsp;)</span>地震、噴火、洪水、津波などの天災により本サービスの提供ができなくなった場合
					</li>
					<li>
						<span>(&nbsp;5&nbsp;)</span>戦争、変乱、暴動、騒乱、労働争議、疫病の蔓延等その他不可抗力により本サービスの提供ができなくなった場合
					</li>
					<li>
						<span>(&nbsp;6&nbsp;)</span>法令による規制、司法命令等が適用された場合
					</li>
					<li>
						<span>(&nbsp;7&nbsp;)</span>その他、運用上、技術上当社が本サービスの一時的な中断を必要と判断した場合
					</li>
				</ul>
				<li>
					当社は、いつでも任意の理由により、ユーザーに事前に通知することなく本サービスの全部又は一部を廃止することができるものとします。
				</li>
				<li>
					当社は、本サービスの内容の変更、一時中断、及び廃止によりユーザーに生じた損害について、一切その責任を負わないものとします。
				</li>
			</ol>

			<h2 id="07">第7条　通知、連絡等</h2>
			<ol>
				<li>
					当社が通知、連絡等を行う必要があると判断した場合、電子メール、本サービスのウェブページへの掲載など、当社が適当と判断する方法により行うものとします。
				</li>
				<li>
					前項における電子メールによる通知、連絡等は、ユーザーが当社に登録している電子メールアドレスに対して行うものとします。
				</li>
				<li>
					当社が本条第1項の通知、連絡等を本サービスのウェブページ上で行う場合は、当該通知、連絡等をウェブページに掲載した日をもって、ユーザーに当該通知、連絡等が到達したものとみなします。また電子メールによって通知、連絡等を行う場合には、当社がユーザーに対して電子メールを発信した時点をもって、ユーザーに当該通知、連絡等が到達したものとみなします。
				</li>
				<li>
					ユーザーが当社に連絡をする場合、当社が他の方法を指定する場合を除き、お問い合わせメール(info@moonkey.jp)にて連絡を行うものとします。当社は、原則として電話、来訪による連絡はお受けいたしません。
				</li>
				<li>
					当社は、本サービスの運営上の告知、広告配信、その他情報の提供を行うため、ユーザーに対してメールを送信する場合がございますので、予めご了承ください。
				</li>
			</ol>
			<h2 id="08">第8条　ユーザーの義務</h2>
			<ol>
				<li>
					ユーザーは、本サービスを利用するために必要な通信機器、ソフトウェア、通信回線などのすべてを自己の負担において、準備するものとします。また、自己の費用で電気通信サービスを利用して本サービスの存在するサーバへ接続するものとします。そのために必要な手続きはユーザーが自己の責任と費用をもって行なうものとします。
				</li>
				<li>
					本サービスを利用するためのEメールとパスワードはユーザーが責任をもって管理するものとします。Eメールとパスワードを利用して行われた行為の責任は当該Eメールを保有しているユーザーの責任とみなします。Eメールとパスワードの漏洩、不正使用などから生じた損害については、当社は一切その責任を負わないものとします。
				</li>
				<li>
					本サービスがウェブサイト、またはスマートフォンアプリケーションである場合、一般的な文字表示（日本語表示）やメール等の諸設定を適切に設定するものとする。
					なお、当社は、ユーザーの利用環境について一切関与せず、また一切の義務を負いません。
				</li>
			</ol>
			<h2 id="09">第9条　禁止事項</h2>
			<ol>
				<li>
					本サービスの利用について、ユーザーの故意または過失を問わず次の各号に掲げる場合に該当すると当社が判断する行為を禁止します。これらの行為は、本サービスのいかなるサービスまたは機能を利用してなされたかにかかわらず、禁止されます
				</li>
				<br />
				<ul class="unstyled">
					<li>
						<span>(&nbsp;1&nbsp;)</span>反社会的行為
					</li>
					<ol>
						<ul class="unstyled">
							<li>
								<span>(&nbsp;ア&nbsp;)</span>法令または公序良俗に違反する行為
							</li>
							<li>
								<span>(&nbsp;イ&nbsp;)</span>詐欺、児童売買春、賭博、預金口座および携帯電話の違法な売買その他の違法行為を予告、関与もしくは助長する行為
							</li>
							<li>
								<span>(&nbsp;ウ&nbsp;)</span>けん銃等の譲渡、爆発物の製造、殺人、脅迫その他の違法行為を請け負い、仲介し、または誘引する行為
							</li>
							<li>
								<span>(&nbsp;エ&nbsp;)</span>虚偽または誤解を招くような内容を含む情報等を掲載、登録する等の行為
							</li>
							<li>
								<span>(&nbsp;オ&nbsp;)</span>通常利用の範囲を超えてサーバーに負担をかける行為、およびそれを助長するような行為、その他本サービスの運営、提供または他のユーザーによる本サービスの利用を妨害し、またはそれらに支障をきたす行為
							</li>
							<li>
								<span>(&nbsp;カ&nbsp;)</span>当社の設備に蓄積された情報を不正に書き換えまたは消去する行為
							</li>
							<li>
								<span>(&nbsp;キ&nbsp;)</span>ウィルス等の有害なコンピュータープログラムを送信または掲載する行為
							</li>
							<li>
								<span>(&nbsp;ク&nbsp;)</span>第三者の産業財産権（特許権、商標権、実用新案権、意匠権等）、著作権、企業秘密等の知的財産権を侵害する行為
							</li>
							<li>
								<span>(&nbsp;ケ&nbsp;)</span>第三者（第三者については個人もしくは法人または私人もしくは公人の別を問わず、第三者の特定についてはユーザーID、ニックネーム、本名、ユーザーへのリンクその他の記載形態または手段を問いません。）の誹謗中傷、第三者の信用、名誉、プライバシー権、肖像権、財産権その他一切の権利を侵害する行為。
							</li>
							<li>
								<span>(&nbsp;コ&nbsp;)</span>自殺、自傷行為、薬物乱用等を美化、誘発、助長するおそれのある表現の掲載行為
							</li>
							<li>
								<span>(&nbsp;サ&nbsp;)</span>ストーキング行為その他第三者に対する嫌がらせ行為
							</li>
							<li>
								<span>(&nbsp;シ&nbsp;)</span>民族、人種、性別、年齢等による差別につながる表現の掲載行為
							</li>
							</u>
					</ol>
					<br />
					<li>
						<span>(&nbsp;2&nbsp;)</span>わいせつ、暴力的表現、出会い目的行為
					</li>
					<ol>
						<ul class="unstyled">
							<li>
								<span>(&nbsp;ア&nbsp;)</span>性的な感情に基づいて面識の無い異性との交際を希望し、その異性交際に関する情報を掲載したり、異性交際の相手を探したり募集したり、あるいはそのような誤解を招く内容の含まれる行為
							</li>
							<li>
								<span>(&nbsp;イ&nbsp;)</span>異性交際を希望するものと本サイトが判断できる一切の行為
							</li>
							<li>
								<span>(&nbsp;ウ&nbsp;)</span>性的交渉の勧誘、その他わいせつな内容の掲載行為
							</li>
							<li>
								<span>(&nbsp;エ&nbsp;)</span>暴力的内容その他一般ユーザーが不快に感じる内容の掲載行為
							</li>
							<li>
								<span>(&nbsp;オ&nbsp;)</span>性行為表現またはそれを意図した表現の掲載行為
							</li>
							<li>
								<span>(&nbsp;カ&nbsp;)</span>アダルトサイトに誘導する行為（リンク掲載を含みますがこれに限りません。）
							</li>
							<li>
								<span>(&nbsp;キ&nbsp;)</span>児童買春、児童ポルノ、無修正ビデオ映像の掲載行為（当該映像の販売、広告の掲載、ダウンロードサイト等へのリンク掲載を含みますがこれに限りません。）
							</li>
							<li>
								<span>(&nbsp;ク&nbsp;)</span>メッセージその他本サービスを使ってアダルト関係の商品を紹介する行為
							</li>
							<li>
								<span>(&nbsp;ケ&nbsp;)</span>その他、未成年者の人格形成等に悪影響を与えると判断される行為（刺青、未成年者の飲酒、喫煙、家出等を誘発する行為等）
							</li>
							</u>
					</ol>
					<br />
					<li>
						<span>(&nbsp;3&nbsp;)</span>児童に係る誘因の禁止
					</li>
					<ol>
						<ul class="unstyled">
							<li>
								<span>(&nbsp;ア&nbsp;)</span>児童を性的交渉の相手方となるよう誘引する行為
							</li>
							<li>
								<span>(&nbsp;イ&nbsp;)</span>人を児童との性的交渉の相手方となるように誘引する行為
							</li>
							<li>
								<span>(&nbsp;ウ&nbsp;)</span>対償を供与することを示して、児童を異性交際の相手方となるように誘引する行為
							</li>
							<li>
								<span>(&nbsp;エ&nbsp;)</span>対償を受けることを示して、人を児童との異性交際の相手方となるように誘引する行為
							</li>
							<li>
								<span>(&nbsp;オ&nbsp;)</span>前各号に掲げるもののほか、児童を異性交際の相手方となるように誘引し、又は人を児童との異性交際の相手方となるように誘引する行為
							</li>
							</u>
					</ol>
					<br />
					<li>
						<span>(&nbsp;4&nbsp;)</span>商業行為
					</li>
					<ol>
						<ul class="unstyled">
							<li>
								<span>(&nbsp;ア&nbsp;)</span>営利または非営利目的を問わず、物やサービスの売買または交換（それらの宣伝、告知、勧誘を含みますがこれに限りません。）を目的とする情報の掲載またはメールの送信行為（無料セミナー等の情報であっても、当該セミナー等で物品を販売したり、契約を締結させるような内容のセミナーであれば本号で掲載が禁止される情報に該当するものとみなします。ただし、当社が認めるものを除く。）
							</li>
							<li>
								<span>(&nbsp;イ&nbsp;)</span>ユーザーが、当社の提供する本サービス全部または一部を、商業目的で利用（使用、再生、複製、複写、販売、再販売等の形態のいかんを問いません。）する行為（ただし、当社が認めるものを除く。）
							</li>
							<li>
								<span>(&nbsp;ウ&nbsp;)</span>ユーザーが、本サービスを通じて入手した全ての情報について、複製、販売、出版、公開その他の方法において、個人としての私的使用以外の使用をする行為、また、他のユーザー、ユーザー以外の第三者をして同様の行為をさせる行為
							</li>
							<li>
								<span>(&nbsp;エ&nbsp;)</span>宣伝、告知、勧誘等を目的とするコメント機能等を利用した同一趣旨の複数の発信や掲載（マルチポスト、スパムメール、チェーンメールを含みますがこれに限りません。）
							</li>
							<li>
								<span>(&nbsp;オ&nbsp;)</span>次の各号に掲げる内容の情報を、掲載または送信する行為
							</li>
							<li>
								<span>&nbsp;&nbsp;ア&nbsp;</span>ねずみ講、チェーンメール、MLM（マルチレベルマーケティング）、リードメールその他の第三者を勧誘する内容の情報
							</li>
							<li>
								<span>&nbsp;&nbsp;イ&nbsp;</span>アフィリエイトや招待することでポイント等の利益が発生するサイトへ誘導する情報（ただし、当社が認めるものを除く。）
							</li>
							<li>
								<span>(&nbsp;カ&nbsp;)</span>営利または非営利を問わず、全ての医療及び医療類似行為（その形態において薬剤の利用、スピリチュアル、パワーストーン、カウンセリング、占い行為等を問いません。ただし、当社が認めるものを除く。）
							</li>
							<li>
								<span>(&nbsp;キ&nbsp;)</span>他のユーザーの個人情報を収集、蓄積する行為、またはこれらの行為をしようとすること
							</li>
						</ul>
					</ol>
					<br />
					<li>
						<span>(&nbsp;5&nbsp;)</span>個人情報掲載行為等
					</li>
					<ol>
						<ul class="unstyled">
							<li>
								<span>(&nbsp;ア&nbsp;)</span>本人、第三者の如何を問わず個人のメールアドレス、電話番号、ナンバープレート、金融機関口座番号、住所など個人と特定しうる情報の掲載行為
							</li>
							<li>
								<span>(&nbsp;イ&nbsp;)</span>虚偽の情報（名前、勤め先企業名などの個人情報を含みますが、これに限りません。）を掲載、登録その他の方法により第三者になりすます行為
							</li>
							<li>
								<span>(&nbsp;ウ&nbsp;)</span>ユーザー本人に許可を受けた場合であっても、ユーザー本人以外が登録情報（所定ID、メールアドレス、パスワード等）を利用して本サービスを利用する行為
							</li>
							<li>
								<span>(&nbsp;エ&nbsp;)</span>第三者の代表権や代理権の存在を装い、または第三者と提携、協力関係にあると装い本サービスを利用する行為
							</li>
						</ul>
					</ol>
					<br />
					<li>
						<span>(&nbsp;6&nbsp;)</span>その他
					</li>
					<ol>
						<ul class="unstyled">
							<li>
								<span>(&nbsp;ア&nbsp;)</span>政治活動、宗教活動行為（ただし、当社が認めるものを除く。）
							</li>
							<li>
								<span>(&nbsp;イ&nbsp;)</span>利用停止されたユーザーが再度サービスに登録する行為
							</li>
							<li>
								<span>(&nbsp;ウ&nbsp;)</span>利用停止されたユーザーを故意または過失により招待する行為
							</li>
							<li>
								<span>(&nbsp;エ&nbsp;)</span>ユーザー資格を第三者に利用させるまたは譲渡する行為
							</li>
							<li>
								<span>(&nbsp;オ&nbsp;)</span>１つのユーザー資格を複数人で利用する行為
							</li>
							<li>
								<span>(&nbsp;カ&nbsp;)</span>１人で複数のユーザー資格を保有する行為
							</li>
							<li>
								<span>(&nbsp;キ&nbsp;)</span>サービスの一部の利用権を当社が定めた方法以外の方法で譲渡する行為
							</li>
							<li>
								<span>(&nbsp;ク&nbsp;)</span>サービスの一部の利用権をもって、現金その他の財物、財産上の利益との交換取引をすること、または交換取引をすることの宣伝、告知、勧誘する行為
							</li>
							<li>
								<span>(&nbsp;ケ&nbsp;)</span>アクセス誘導等を目的として、無差別かつ大量にアクセス履歴を残す行為
							</li>
							<li>
								<span>(&nbsp;コ&nbsp;)</span>その他、当社が、合理的な理由に基づき不適切と判断する行為
							</li>
						</ul>
					</ol>
				</ul>
				<li>
					禁止行為を行った場合は、事前の告知なく該当する提案等の削除、本サービスの利用停止またはユーザー資格の剥奪を行う場合があります。なお、ユーザーのご事情により、当社からのメールを確認できなかった場合も、本規約に則った対応をさせて頂きますのであらかじめご了承ください。
				</li>
			</ol>

			<h2 id="10">第10条　本規約違反等への対処</h2>
			<ol>
				<li>
					当社は、ユーザーが本規約に違反した若しくはそのおそれがある場合、又は、ユーザーによる本サービスの利用に関し第三者から当社に対しクレーム、請求等がなされ、かつ当社が必要と認めた場合、若しくは、その他の理由で本サービスの運営上不適当と当社が判断した場合は、当該ユーザーに対し、事前に通知することなく、次の措置のいずれか又はこれらを組み合わせた措置を講ずることができるものとし、ユーザーはこれに従うものとします。
				</li>
				<ul class="unstyled">
					<li>
						<span>(&nbsp;1&nbsp;)</span>本規約に違反する行為、又はそのおそれのある行為を中止すること、及び同様の行為を繰り返さないよう要請すること（注意喚起、勧告、事後通知等を含む。以下同じ
					</li>
					<li>
						<span>(&nbsp;2&nbsp;)</span>第三者との間で、クレーム等の解消のための協議を行うよう要請すること
					</li>
					<li>
						<span>(&nbsp;3&nbsp;)</span>ユーザーが本サービスを利用して登録、又は公開する情報等を削除することを要請すること
					</li>
					<li>
						<span>(&nbsp;4&nbsp;)</span>その他、当社が適切と判断する措置を行うようユーザーに要請すること
					</li>
					<li>
						<span>(&nbsp;5&nbsp;)</span>ユーザーが本サービスを利用して登録、又は公開する情報等の全部若しくは一部を削除し、又は閲覧できない状態にすること
					</li>
					<li>
						<span>(&nbsp;6&nbsp;)</span>本サービスの利用停止措置を講じること
					</li>
					<li>
						<span>(&nbsp;7&nbsp;)</span>本サービスの利用契約の解除を行うこと
					</li>
					<li>
						<span>(&nbsp;8&nbsp;)</span>適切な管轄省庁、捜査機関、仲裁機関、又は裁判所へ通報、相談し、若しくは民事上、刑事上の救済措置を講じること
					</li>
					<li>
						<span>(&nbsp;9&nbsp;)</span>当社に生じた損害の賠償請求をすること
					</li>
					<li>
						<span>(&nbsp;10&nbsp;)</span>その他、当社が適切と判断する措置を講じること
					</li>
				</ul>
				<li>
					前項の規定は、当社にユーザーの行為を監視する義務、及び前項の定める措置を講ずべき義務を課すものではありません。当社が前項に定める措置を講じなかったことによりユーザー又は第三者が被った損害について、当社は一切その責任を負わないものとします。
				</li>
				<li>
					当社が本条第1項に定める措置を講じた場合に、当該措置に起因する結果に関して、当社は一切その責任を負わないものとします。
				</li>
			</ol>

			<h2 id="11">第11条　個人情報</h2>
			<p>
				当社が取得したユーザーの個人情報は、当社が別途定める プライバシーポリシー に従って取り扱うものとします。
			</p>
			<h2 id="12">第12条　著作権等知的財産権</h2>
			<ol>
				<li>
					ユーザーは、第三者が著作権、商標権、意匠権等の知的財産権を有する著作物、標章、サービスマーク、デザイン、表示等を当社が提供する本サービス上に登録、掲載する場合は、ユーザーが当該知的財産権保持者より許諾を得る必要があり、当社はこれについて一切関与しないものとします。
				</li>
				<li>
					ユーザーは、本サービスを利用して本サービス上に投稿した提案、コメント、公開プロフィールの自己紹介などのテキストデータ、および画像や動画・音声ファイルなどの投稿テキストに付随的に投稿されたデータ(以下「投稿内容」といいます。)について、自らが投稿又は送信することについての適法な権利を有していること、及び投稿内容が第三者の権利を侵害しないことについて、表明し、保証するものとします。
				</li>
				<li>
					ユーザーは、当社が本サービス内での提案等に対して何ら制限なく次の各号に掲げる処理を行うことを予め同意し、提案等の著作権について、著作者人格権を行使しないものとします。
				</li>
				<ul class="unstyled">
					<li>
						<span>(&nbsp;1&nbsp;)</span>内容を閲覧し、審査すること。
					</li>
					<li>
						<span>(&nbsp;2&nbsp;)</span>本サービスに掲載すること、または掲載しないこと（独自の基準に基づき掲載しない場合もあります。
					</li>
					<li>
						<span>(&nbsp;3&nbsp;)</span>修正して、本サービスに掲載すること。
					</li>
					<li>
						<span>(&nbsp;4&nbsp;)</span>本サービスに掲載したコメント等を、掲載後に修正、削除すること。
					</li>
					<li>
						<span>(&nbsp;5&nbsp;)</span>本サービスに付帯関連するメディアその他本サービス以外の当社の指定するメディアにおいて、前各号の処理をすること。この場合において、「本サービス」とあるのは「当社の指定するメディア」と読みかえるものとします。
					</li>
				</ul>
				<li>
					第１項に基づきユーザーに帰属する著作権等の権利を除き、本サービスについての著作権等の権利は全て当社に帰属し、ユーザーは無断で複製、譲渡、貸与、翻訳、改変、転載、公衆送信（送信可能化を含みます。）、伝送、配布、出版、営業使用等をしてはならないものとします。
				</li>
			</ol>
			<h2 id="13">第13条　保証の否認</h2>
			<ol>
				<li>
					当社は、次の各号について一切の保証を行うものではありません。
				</li>
				<ul class="unstyled">
					<li>
						<span>(&nbsp;1&nbsp;)</span>本サービスの全てのサービス及びその内容がユーザーの要求に合致すること
					</li>
					本サービスの全てのサービス及びその内容がユーザーの要求に合致すること
					<li>
						<span>(&nbsp;2&nbsp;)</span>本サービスが中断されないこと
					</li>
					<li>
						<span>(&nbsp;3&nbsp;)</span>本サービスがタイムリーに提供されること
					</li>
					<li>
						<span>(&nbsp;4&nbsp;)</span>本サービスが安全であること
					</li>
					<li>
						<span>(&nbsp;5&nbsp;)</span>本サービスにおいていかなる不具合、エラー又は障害も生じないこと
					</li>
					<li>
						<span>(&nbsp;6&nbsp;)</span>ユーザーが本サービスを通じて取得する情報が正確であり、信頼できるものであること
					</li>
					<li>
						<span>(&nbsp;7&nbsp;)</span>本サービスにいかなる内容の不備又は誤り等もないこと
					</li>
					<li>
						<span>(&nbsp;8&nbsp;)</span>ユーザーが利用するいかなる機器及びソフトウェアの動作保証
					</li>
					<li>
						<span>(&nbsp;9&nbsp;)</span>本サービスを通じて送受信したデータが所定のサーバに保管されること、相手方に受信されること又は画面上に表示されること
					</li>
					<li>
						<span>(&nbsp;10&nbsp;)</span>本サービスが開発中のサービスを公開テストの目的でユーザーに提供するアルファサービス、ベータサービスまたはこれに類する名目のサービスにおいて、プログラムのバグ等が発生しないこと
					</li>
				</ul>
			</ol>
			<h2 id="14">第14条　免責等</h2>
			<ol>
				<li>
					当社は、本サービスの内容、ユーザーが本サービスを通じて得る情報、及び、情報の利用により得た成果等について、その完全性、正確性、確実性、有用性、合法性等いかなる保証も行いません。
				</li>
				<li>
					ユーザーが本サービスに登録した情報及び本サービスを通じてやりとりされる情報等は、不慮のシステムトラブル等により失われることがあります。当社は、情報のバックアップの義務及び失われた情報の修復の義務は負わないものとし、かかる事態で生じた損害について、当社は一切その責任を負わないものとします。
				</li>
				<li>
					本サービスの利用に供する装置、ソフトウェア又は通信網の瑕疵、障害、動作不良、又は不具合により、ユーザーに損害が生じた場合、当社は一切その責任を負わないものとします。
				</li>
				<li>
					本サービスにおいて、ユーザー間又はユーザーと第三者の間で生じたトラブル（ユーザーが第10条第1項に違反した場合を含む）に関して、当社は一切その責任を負わないものとします。この場合、他の本サービスのユーザー又は第三者が当社に対して責任を追及したために当社が防御費用（弁護士報酬及び訴訟費用を含む）、損害賠償金の支払い、和解金の支払いその他の損害を被り又は費用の支出をしたときは、ユーザーは直ちに当社の損害及び支出した費用を補償するものとします。
				</li>
				<li>
					当社は、次に掲げる場合には、ユーザーが登録した情報も含めて、本サービスのサーバ上の全ての情報を閲覧したり、保存したり、第三者に開示すること（以下「閲覧等」とします）ができるものとします。それによって生じたいかなる損害についても、当社は一切その責任を負わないものとします。なお、本項の規定は、当社に閲覧等を行うべき義務を課すものではありません。
				</li>
				<ul class="unstyled">
					<li>
						<span>(&nbsp;1&nbsp;)</span>本規約違反の有無等を確認する必要があるとき
					</li>
					<li>
						<span>(&nbsp;2&nbsp;)</span>人の生命、身体及び財産などに差し迫った危険があり、緊急の必要性があるとき
					</li>
					<li>
						<span>(&nbsp;3&nbsp;)</span>裁判所や警察などの公的機関から、法令に基づく正式な照会を受けたとき
					</li>
					<li>
						<span>(&nbsp;4&nbsp;)</span>本サービスの技術的不具合を解消するために必要なとき
					</li>
					<li>
						<span>(&nbsp;5&nbsp;)</span>ユーザーが閲覧等に同意したとき
					</li>
					<li>
						<span>(&nbsp;6&nbsp;)</span>当社が閲覧等の同意を求めた後、これを拒否する旨の当該ユーザーの回答が当社に到達しなかったとき
					</li>
					<li>
						<span>(&nbsp;7&nbsp;)</span>その他本サービスを適切に運営するために必要が生じたとき
					</li>
				</ul>
				<li>
					本サービス上に他のウェブサイトへのリンクが設置されている場合、そのリンク先のサイト等については、当社は一切関与しません。当該サイト上のコンテンツ、広告、商品、役務などについて、当社は一切その責任を負わないものとします。
				</li>
				<li>
					本サービスへのアクセス過多、その他予期せぬ要因で本サービスの表示速度の低下や障害等が生じた場合、それによって生じたいかなる損害についても、当社は一切その責任を負わないものとします。
				</li>
				<li>
					本サービスの利用に関してユーザーに損害が発生した場合、本規約に特段の定めのない限り、当社は損害賠償責任を負わないものとします。
				</li>
			</ol>
			<h2 id="15">第15条　本規約の適用、変更等</h2>
			<ol>
				<li>
					ユーザーは、本規約に従って本サービスを利用するものとします。ユーザーが本サービスを利用・閲覧することによって本規約の内容を承諾頂いたものとみなします。
				</li>
				<li>
					当社は、いつでも任意の理由により、ユーザーに事前に通知することなく、本規約を変更、追加、及び削除をすることができるものとします。本規約の変更等が行われた後、ユーザーが本サービスを利用することによって、変更等が行われた後の本規約の内容を承諾したものとみなします。
				</li>
				<li>
					変更後の利用規約は、当該変更内容を本サービスのウェブページ上で表示した時点から効力を生じるものとします。
				</li>
				<li>
					本規約に対する不同意の意思表示は、本サービスを利用しないことのみをもって認められるものとします。
				</li>
			</ol>
			<h2 id="16">第16条　準拠法、管轄裁判所等</h2>
			<ol>
				<li>
					本規約の成立、効力、履行及び解釈に関しては、日本国法が適用されるものとします。
				</li>
				<li>
					本規約の解釈を巡って疑義が生じた場合、当社は合理的な範囲でその解釈を決定できるものとします。
				</li>
				<li>
					本規約および本サービスに関する一切の紛争は、当社の本店所在地の地方裁判所を第一審の専属的管轄裁判所とすることとします。
				</li>
			</ol>
			<br />
			<br
			/>
			<p>
				附則
			</p>
			<p>
				２０１２年０８月３１日制定
			</p>

		</div>
	</div>

</div>
<!-- </body>直前にスクリプト記述 -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
<script type="text/javascript" src="http://connect.facebook.net/ja_JP/all.js#xfbml=1"></script>
<script>
	$(function() {

		$('a[rel = popover]').popover();

	});

</script>
<script>
	//ページTOPに戻る処理
	$(function() {
		// #back-to-topを消す
		$('#back-to-top').hide();

		// スクロールが十分されたらback-to-topを表示、スクロールが戻ったら非表示
		$(window).scroll(function() {
			$('#pos').text($(this).scrollTop());

			if($(this).scrollTop() > 60) {
				$('#back-to-top').fadeIn();
			} else {
				$('#back-to-top').fadeOut()
			}
		});

		//#back-to-topがクリックされたら上に戻る

		$('#back-to-top a').click(function() {
			$('body,html').animate({
				scrollTop : 0
			}, 500);
			return false;
		});
	});
</script>