<div class="row">
	<div class="span12" style="padding-top: 5px">
		<div class="well" style="text-align: left">
			<h2>プライバシーポリシー</h2>
			<p>
				株式会社MOONKEY（以下「当社」）はPersonalDictionary（以下、「本サービス」）をご利用になる方（以下、「ユーザー」）のプライバシーを尊重し、ユーザーの個人情報の管理に細心の注意を払うものとします。
			</p>
			<br>
			<br>

			<h2 id="01">1.法令等の遵守</h2>
			<p>
				当社は、個人情報の取扱いについて、『個人情報の保護に関する法律』、『電気通信事業法』、その他個人情報保護関連法令及びガイドライン、またこのプライバシーポリシーを遵守します。
			</p>

			<h2 id="02">2.個人情報の定義</h2>
			<p>
				個人情報とは、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日、住所、電話番号、その他の記述等により特定の個人を識別することが出来るものを言います。これには他の情報と照合することが出来、それにより特定の個人を識別出来る事となるもの(特定の個人と結びついて使用されるメールアドレス、ユーザーＩＤ、パスワード)を含みます。
			</p>

			<h2 id="03">3.個人情報の利用目的について</h2>
			<p>
				当社では、個人情報の利用に際しては、本プライバシーポリシー内または各サービスのウェブサイト内において、あらかじめ利用目的をできる限り特定した上で公表し、収集します。また、公表した利用目的にしたがって個人情報を取り扱います。 当社で収集する個人情報の利用目的は以下の通りです。
			</p>
			<p>
				本サービスをご利用のユーザーの個人情報の利用目的
			</p>
			<ul class="unstyled">
				<li>
					<span>(&nbsp;1&nbsp;)</span>本サービスの提供と運営、本サービスのご案内を差し上げるため
				</li>
				<li>
					<span>(&nbsp;2&nbsp;)</span>有料サービスを利用しているユーザーに利用料金を請求するため
				</li>
				<li>
					<span>(&nbsp;3&nbsp;)</span>本サービスにおけるプロフィールページを作成し、他のユーザーによる検索・閲覧に供するため
				</li>
				<li>
					<span>(&nbsp;4&nbsp;)</span>ユーザーの年齢、職業、性別、趣味・嗜好等に合わせて本サービスのページ上の情報、サービスおよび広告配信をカスタマイズするため
				</li>
				<li>
					<span>(&nbsp;5&nbsp;)</span>本サービスの改善や新サービスの開発等に役立てるため
				</li>
				<li>
					<span>(&nbsp;6&nbsp;)</span>本サービスの利用規約に違反する態様でのご利用を防止するため
				</li>
				<li>
					<span>(&nbsp;7&nbsp;)</span>本サービスに関して、個人を識別できない形式に加工した統計データを作成するためなお、各サービスの利用に際しては、ユーザーの意思によって利用される個人情報と連動した機能の取り扱いには格別のご注意をいただきますようお願いいたします。
				</li>
			</ul>
			<h2 id="04">4.利用目的の範囲内での利用</h2>
			<p>
				当社は、あらかじめ特定し公表した利用目的の達成に必要な範囲内でのみユーザーの個人情報を取り扱います。但し、『電気通信事業における個人情報保護に関するガイドライン』第6条第3項にある以下の各号に該当する場合は、予め特定し公表した利用目的の達成に必要な範囲を超えてユーザーの個人情報を取り扱うことがあります。
			</p>
			<ul class="unstyled">
				<li>
					<span>(&nbsp;1&nbsp;)</span>法令に基づく場合
				</li>
				<li>
					<span>(&nbsp;2&nbsp;)</span>人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき
				</li>
				<li>
					<span>(&nbsp;3&nbsp;)</span>公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき
				</li>
				<li>
					<span>(&nbsp;4&nbsp;)</span>国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき
				</li>
			</ul>
			<h2 id="05">5.個人情報の第三者提供について</h2>
			<p>
				ユーザーよりお預かりした個人情報は、ユーザー本人の同意を得ずに第三者に提供することは、原則いたしません。但し以下の場合は、関係法令に反しない範囲で、ユーザー本人の同意なくユーザーの個人情報を提供することがあります。
			</p>
			<ul class="unstyled">
				<li>
					<span>(&nbsp;1&nbsp;)</span>法令に基づく場合
				</li>
				<li>
					<span>(&nbsp;2&nbsp;)</span>人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき
				</li>
				<li>
					<span>(&nbsp;3&nbsp;)</span>公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき
				</li>
				<li>
					<span>(&nbsp;4&nbsp;)</span>国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき
				</li>
				<li>
					<span>(&nbsp;5&nbsp;)</span>ユーザー本人が希望されるサービスを行うために業務を委託している業者に対して開示・提供する場合
				</li>
			</ul>

			<h2 id="06">6.個人情報の適切な保護</h2>
			<p>
				当社は、ユーザーの個人情報を、正確、最新のものとするよう適切な処置を講じます。また、ユーザーの個人情報を適切かつ安全に管理します。
			</p>

			<h2 id="07">7.個人情報の開示</h2>
			<p>
				当社は、ユーザーご本人より当該本人の個人情報の開示を求められた場合には、遅滞なく応じます。ただし、以下の場合は、その全部または一部を開示しない場合があります。
			</p>

			<ul class="unstyled">
				<li>
					<span>(&nbsp;1&nbsp;)</span>ユーザーご本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合
				</li>
				<li>
					<span>(&nbsp;2&nbsp;)</span>当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合
				</li>
				<li>
					<span>(&nbsp;3&nbsp;)</span>他の法令に違反するおそれがある場合
				</li>
			</ul>

			<h2 id="08">8.個人情報の訂正、利用停止等の手続き</h2>
			<p>
				当社は、ユーザーご本人より当該本人の個人情報の訂正、追加、削除、利用の停止または消去を求められた場合には、ユーザーご本人であることを確認させていただいた上で合理的な期間内に対応いたします。
			</p>

			<h2 id="09">9.免責</h2>
			<p>
				以下の場合は、第三者による個人情報の取得に関し、当社は何らの責任を負いません。
			</p>
			<ul class="unstyled">
				<li>
					<span>(&nbsp;1&nbsp;)</span>ユーザーご本人が本サービスの機能または別の手段を用いて第三者に個人情報を明らかにした場合
				</li>
				<li>
					<span>(&nbsp;2&nbsp;)</span>ユーザーが本サービス上に入力した情報等により、個人が識別できてしまった場合
				</li>
			</ul>
			<h2 id="10">10.統計データの利用</h2>
			<p>
				当社は、取得したユーザーの個人情報をもとに、個人を識別できないように加工した統計データを作成することがあります。個人を識別できない統計データについては、当社は何ら制限なく利用することができるものとします。
			</p>

			<h2 id="11">11.アクセスログについて</h2>
			<p>
				当社のコーポレートサイト及び各サービスのサイトではアクセスされた方の情報をアクセスログという形で記録しています。アクセスログは、アクセスされた方のIPアドレス、ホスト名、ご利用のブラウザ・OSの種類、アクセス日時などの情報が含まれます。これらのアクセスログはサイト及び各サービスの保守管理や利用状況に関する統計分析のために活用させていただくことがございます。
			</p>

			<h2 id="12">12.Cookie（クッキー）の使用について</h2>
			<p>
				本サービスのウェブサイトには、本サービスをユーザーにより便利にご利用いただくため、「クッキー（Cookie）」を利用しております。
				クッキーとはユーザー情報やアクセス履歴などの情報をWebブラウザとWebサーバー間でやりとりするための機能です。
				当社は、ユーザーによりよいサービスを提供するため、Cookie （クッキー）を使用することがありますが、これにより個人を特定できる情報の収集を行えるものではございません。また、Cookie （クッキー）の受け入れを希望されない場合は、ブラウザの設定で変更することができますが、その結果本サービスの全部または一部がご利用いただけなくなることがあります。
			</p>

			<h2 id="13">13.リンクについて</h2>
			<p>
				本サービスは外部サイトへのリンクを含む場合がありますが、リンク先の外部サイトにおける個人情報の取り扱いについては一切の責任を負いかねますので、各リンク先の外部サイトのご利用に際してはそれぞれのサイトのプライバシーポリシーをご一読下さい。
			</p>

			<h2 id="14">14.プライバシーポリシーの変更について</h2>
			<p>
				当社は、プライバシーポリシーの全部または一部を改定することがあります。
				変更が生じた場合はサイト上に掲示することでユーザーの皆様へお知らせ致しますので、定期的にご確認下さいますようお願い致します。
			</p>

			<h2 id="15">15.個人情報に関するお問い合わせ</h2>
			<p>
				個人情報に関するお問い合わせはこちらのメールアドレス info@moonkey.jp にて承っております。
			</p>

			<br />
			<br />
			<p>
				附則
			</p>
			<p>
				２０１２年０８月３１日制定
			</p>

		</div>
	</div>

</div>
<!-- </body>直前にスクリプト記述 -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
<script type="text/javascript" src="http://connect.facebook.net/ja_JP/all.js#xfbml=1"></script>
<script>
	$(function() {

		$('a[rel = popover]').popover();

	});

</script>
<script>
	//ページTOPに戻る処理
	$(function() {
		// #back-to-topを消す
		$('#back-to-top').hide();

		// スクロールが十分されたらback-to-topを表示、スクロールが戻ったら非表示
		$(window).scroll(function() {
			$('#pos').text($(this).scrollTop());

			if($(this).scrollTop() > 60) {
				$('#back-to-top').fadeIn();
			} else {
				$('#back-to-top').fadeOut()
			}
		});

		//#back-to-topがクリックされたら上に戻る

		$('#back-to-top a').click(function() {
			$('body,html').animate({
				scrollTop : 0
			}, 500);
			return false;
		});
	});
</script>
