<div class="row">
	<div class="span2">　</div>
	<div class="span8" style="text-align: center">
		<%= form_tag :search_accounts, method: :get, :remote => true do %>
		<span style="font-size: 16px;font: bold;">URL入力：</span><%= text_field_tag("url", '', :style => 'font-size:16px;font: bold;width:450px')%>
		<%= submit_tag "チェック", :class => "btn btn-small btn-info" %>
		<% end %>
		
<div id="select">
<%= render 'form' %>
</div>

</div>
